<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
    <title>Реестр заседаний ПО</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container-fluid">
    <h2 class="text-center">Создать новое заседание</h2>

    <div class="my-3">
        <form th:action="@{/save}" method="post" enctype="multipart/form-data" th:object="${meeting}"
              style="max-width: 1024px; margin: 0 auto">

            <input type="hidden" th:field="*{id}"/>

            <div class="p-3">

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="investor">Инвестор</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{investor}" required minlength="2" maxlength="128"
                               class="form-control"
                               id="investor"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="project">Проект</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{project}" minlength="2" maxlength="256" class="form-control"
                               id="project"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="mo">Муниципальное образование</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{mo}" minlength="2" maxlength="256" class="form-control"
                               id="mo"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="protocol">Протокол ПО</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{protocol}" minlength="2" maxlength="256" class="form-control"
                               id="protocol"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="category">Категория вопроса</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{category}" minlength="2" maxlength="256" class="form-control"
                               id="category"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="subject">Вопрос (поручение) в рамках
                        повестки/протокола</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{subject}" minlength="2" maxlength="256" class="form-control"
                               id="subject"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="responsible">Ответственный за исполнение</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{responsible}" minlength="2" maxlength="256" class="form-control"
                               id="responsible"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="deadLine">Срок исполнения</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{deadLine}" maxlength="256" class="form-control"
                               id="deadLine"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="status">Статус выполнения</label>
                    <div class="col-sm-9">
                        <select name="status" id="status">
                            <option value="На выполнении">На выполнении</option>
                            <option value="Выполнено">Выполнено</option>
                            <option value="Не выполнено">Не выполнено</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="result">Результат выполнения поручения(краткое
                        описание)</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{result}" minlength="2" maxlength="256" class="form-control"
                               id="result"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="resultStatus">Статус решения основного вопроса + краткое
                        описание</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{resultStatus}" minlength="2" maxlength="256" class="form-control"
                               id="resultStatus"/>
                    </div>
                </div>


                <div class="text-center">
                    <input type="submit" value="Сохранить" class="btn btn-primary btn-sm mr-2"/>
                    <input type="button" value="Отменить" id="btnCancel" class="btn btn-secondary btn-sm"/>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnCancel").on("click", function () {
            window.location = "[[@{/}]]";
        });
    });

</script>

</body>

</html>